# ===================
# Node.js
# ===================
node_modules/
.env
package-lock.json

# ===================
# Python (если используется Whisper)
# ===================
venv/
.venv/
__pycache__/
*.py[cod]
*.pyo
*.pyc

# ===================
# WhatsApp API (авторизация и кэш)
# ===================
.wwebjs_auth/
.wwebjs_cache/

# ===================
# Логи и временные файлы
# ===================
logs/
temp/
*.log

# ===================
# Системные файлы
# ===================
.DS_Store
Thumbs.db

# ===================
# VS Code / IDE
# ===================
.vscode/
.idea/
